.button-group {
  display: flex;
  justify-content: space-evenly;
}
.filters {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.options {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.link {
  width: 101px;
}
